.page-load-status {
  display: none; /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #4c4c4c;
  text-align: center;
  color: #7c1313f7;
}
#intro {
  background-color: rgb(255, 255, 255);
  
  height: 100vh;
}
tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}